@import "compass/css3";

//inline-font-files("#{$file}.woff", woff, "#{$file}.ttf", truetype), 
/**
 * 
 * If $font_url is defined, use that as the location for the image;otherwise use
 * compass built in font-file to use the http_font_path from the config.
 *
 * @param $font - the image to locate
 *
 * 
 */

// Function for using different server url instead of http_font_path.
@function fontUrl($font) {
    $font_url: false !default;
    @if $font_url {
        @return url('#{$font_url}/#{$font}');
    }
    @return font-url($font);    
}

@mixin fontFace($family, $file, $weight: false, $style: false) {
    @font-face {
        font-family: quote($family);
          src: fontUrl("#{$file}.eot");
          src: fontUrl("#{$file}.eot?#iefix") format('embedded-opentype'),
               fontUrl("#{$file}.woff") format('woff'), 
               fontUrl("#{$file}.ttf") format('truetype'), 
               fontUrl("#{$file}.svg##{$family}") format('svg');
          @if $weight {
              font-weight: $weight;
          }
          @if $style {
              font-style: $style;
          }
    }
}