@import "compass";
@import "_normalize.scss";

$primary-green: #198C45;
$lime-green: #92d400;
$secondary-brown: #A79D83;

* {
	@include box-sizing(border-box);
}

body {
	margin: 0;
	font-size: 16px;
	font-family: 'Frutiger LT Std', sans-serif;
	background-color: #ede7dc;
	@include filter-gradient(#ede7dc, #ffffff, vertical);
	@include background-image(linear-gradient(top,  #ede7dc 0%,#ffffff 500px));

	&.no-ck-bar {
		background-color: saturate(#e3dcd1, 10%);
		@include filter-gradient(saturate(#e3dcd1, 10%), #ffffff, vertical);
		@include background-image(linear-gradient(top,  saturate(#e3dcd1, 10%) 0%,#ffffff 900px));
	}
}

main {
	max-width: 1080px;
	margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
	color: #362F2D;
}

h3 {
	font-size: 28px;
	margin: 40px 0 15px;
}

h4 {
	font-size: 24px;
}

p {
	line-height: 27px;
	color: darken(#706A68, 4%);
}

a {
	padding: 0 0 1px 0;
	color: $primary-green;
	text-decoration: none;
	border-bottom: 1px dotted $primary-green;
}

input[type="text"] {
	height: 45px;
	padding: 8px 13px 0;
	border: 1px solid #CEC9C0;
	color: darken(#706A68, 4%);
	@include border-radius(3px);
	@include box-shadow(inset 0 3px 0 rgba(#F0F0F0, .7));
}

textarea {
	@extend input[type="text"];
	width: 100%;
	height: 116px;
	margin-bottom: 15px;
	padding: 16px 20px;
	line-height: 27px;
}

.input-wrap {
	position: relative;

	&.half-width {
		display: inline-block;
		float: left;
		@include pie-clearfix();
	}
}

.text-input-icon {
	position: absolute;
	top: 16px;
	left: 13px;
	pointer-events: none;
}

.icon-mail {
	top: 18px;
}

.icon-cc {
	top: 18px;
}

.icon-calendar {
	top: 15px;
}

.icon-money {
	top: 15px;
	left: 16px;
	font-family: helvetica, sans-serif;
	font-weight: bold;
	color: $primary-green;
}

/*-------------------------*/
/*----- Header Styles -----*/
/*-------------------------*/

.primary-header {
	height: 130px;
	border-bottom: 1px solid #c4b4a1;
	background-color: #fff;
	@include box-shadow(0 2px 0 rgba(#000, .06));
}

.primary-header-contents {
	max-width: 1080px;
	margin: 0 auto;
}

a.primary-header-logo {
	display: block;
	width: 237px;
	height: 69px;
	position: relative;
	top: 28px;
	border-bottom: none;
	background-image: url(/img/cure-logo.svg);
	background-repeat: no-repeat;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.primary-nav-container {
	@include pie-clearfix();
}

.primary-nav {
	position: relative;
	bottom: 34px;
	float: right;
	@include pie-clearfix();
}

.primary-nav-item {
	display: inline;
	margin-right: 35px;
	position: relative;
	list-style-type: none;

	a {
		text-decoration: none;
		color: darken(#736357, 6%);
		border-bottom: none;
	}

	&:last-child {
		margin-right: 0px;
	}
}

a.primary-nav-item-link:after {
	display: block;
	padding-top: 10px;
	position: absolute;
	left: 0;
	top: 10px;
	font-size: 12px;
	color: #B3A092;
}

.curekids-primary-nav-item:after {
	content: "Meet a child";
}

.about-primary-nav-item:after {
	content: "Who we are";
}

.programs-primary-nav-item:after {
	width: 82px;
	content: "Where we are";
}

.stories-primary-nav-item:after {
	content: "Our blog";
}

.join-primary-nav-item:after {
	width: 76px;
	content: "Get involved";
}

.subnav {
	display: none;
}

.btn-primary {
	padding: 14px 18px 10px;
	border: 1px solid #136231;
	color: #fff;
	text-shadow: 0 1px rgba(0,0,0, .4);
	background-color: $primary-green;
	@include border-radius(3px);
	@include box-shadow(0 2px 0 rgba(0,0,0, .13));

	&:hover {
		cursor: pointer;
		border: 1px solid darken(#136231, 2%);
		background-color: darken($primary-green, 2%);
		@include box-shadow(0 1px 1px rgba(0,0,0, .23));
	}

	&:active {
		border: 1px solid darken(#136231, 5%);
		background-color: darken($primary-green, 4%);
		@include box-shadow(0 1px 0 rgba(0,0,0, .13));
	}
}

a.btn-primary {
	color: #fff;
	text-decoration: none;
	border: 1px solid #136231;
}

.primary-header .btn-primary {
	margin-left: 40px;
	position: relative;
	top: 8px;
	font-size: 15px;
}

.btn-secondary {
	@extend .btn-primary;
	padding: 11px 20px 6px;
	border-color: #8C7D71;
	font-size: 14px;
	background-color: $secondary-brown;

	&:hover {
		border-color: darken(#8C7D71, 2%);
		background-color: darken($secondary-brown, 4%);
	}

	&:active {
		border-color: darken(#8C7D71, 5%);
		background-color: darken($secondary-brown, 6%);
	}
}

a.btn-secondary {
	border-color: #8C7D71;
	text-decoration: none;
	color: #fff;
}

.btn-submit:active,
.btn-submit:focus {
	outline: none;
}

.btn-view-more {
	display: block;
	margin: 35px auto 25px;
	text-align: center;
}

/*-------------------------*/
/*------- CK Profile ------*/
/*-------------------------*/

.ck-profile-container {
	margin: 50px 0 0 0;
	border: 1px solid rgba(0,0,0, .15);
	overflow: hidden;
	background-color: #fff;
	@include border-radius(3px);
	@include box-shadow(0 0 0 5px rgba(255,255,255, .21), 0 0 0 6px rgba(0,0,0, .07));
	// @include box-shadow(0 0 0 6px rgba(0,0,0, .04));
}

.ck-profile-header {
	height: 100px;
	position: relative;
	@include pie-clearfix();
}

.ck-profile-name {
	float: left;
	margin: 25px 0 0 40px;
	font-size: 38px;
}

.ck-profile-country {
	clear: left;
	float: left;
	display: block;
	margin: -4px 0 0 42px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #999;
}

.ck-profile-container .btn-ck-follow {
	padding: 11px 18px 7px 14px;
	position: absolute;
	left: -90px;
	top: 33px;

	&:after {
		content: " ";
		display: inline-block;
		width: 19px;
		height: 13px;
		position: relative;
		left: 6px;
		top: 1px;
		background-image: url(/img/follow-icon.svg);
	}
}

.ck-profile-header-col-1 {
	float: left;
	@include pie-clearfix();
}

.ck-profile-header-col-2 {
	height: 100px;
	margin: 0;
	position: relative;
	float: right;
}

.ck-profile-info {
	margin: 0;
	@include pie-clearfix();
}

.ck-profile-info-item {
	display: block;
	float: left;
	height: 100px;
	padding: 0 25px;
	border-left: 1px solid rgba(0,0,0, .1);
	font-size: 20px;
	list-style-type: none;
	color: #362F2D;
}

.ck-profile-info-item-label { 
	display: block;
	margin: 33px 0 6px 0;
	color: #999;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.ck-profile-photos-container {
	@include pie-clearfix();
}

.ck-profile-primary-photo {
	width: 81.3888889%;
	float: left;
}

.ck-profile-secondary-photo-container {
	width: 18.6111111%;
	max-height: 275px;
	position: relative;
	float: left;
}

.ck-profile-secondary-photo {
	width: 100%;
}

.ck-profile-secondary-photo-caption {
	padding: 10px 10px 3px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 0 1px 1px rgba(0,0,0, .75);
	background-color: rgba(0,0,0, .32);
}

/*-- Primary profile content --*/

.ck-profile-primary-content {
	max-width: 700px;
	float: left;
	padding-left: 40px;
}

.ck-profile-section {
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(0,0,0, .15);
}

.ck-profile-update-date {
	font-size: 13px;
	color: #888;
}

.ck-profile-update-copy {
	margin: 8px 0 0 0;

	&:after {
		content: "";
		display: block;
		width: 75px;
		height: 1px; 
		margin: 17px 0 25px;
		background-color: rgba(0,0,0, .14);
	}
}

a.ck-profile-get-well-inline-media {
	width: 75px;
	height: 75px;
	overflow: hidden;
	display: block;
	position: relative;
	float: right;
	border: none;
	@include border-radius(5px);

	.zoom-icon {
		display: none;
		position: absolute;
		top: 23px;
		left: 23px;		
	}
}

.ck-profile-get-well {
	border-bottom: none;
}

.get-well-media-poster {
	height: 75px;
}

.btn-more-updates {
	width: 175px;
}

.btn-ck-profile-get-well-add-photo {
	margin-right: 28px;
	position: relative;
	font-size: 14px;
	color: #947D7B;
	border-bottom: none;

	&:before {
		content: "";
		display: inline-block;
		width: 19px;
		height: 14px;
		margin-right: 9px;
		position: relative;
		top: 1px;
		background-image: url(/img/camera-icon.svg);
		background-repeat: no-repeat;
		background-position: center;
	}
}

.btn-ck-profile-get-well-add-video {
	@extend .btn-ck-profile-get-well-add-photo;

	&:before {
		background-image: url(/img/camera-icon.svg);
	}
}

.get-well-form-checkbox-container {
	display: inline-block;
	font-size: 14px;
	color: #947D7B;
}

.get-well-form-checkbox {
	font-size: 16px;
	margin-right: 3x;
}

.get-well-btn-submit {
	float: right;
	position: relative;
	bottom: 8px;
}

/*-- Secondary Profile Content --*/

.ck-profile-secondary-content {
	float: left;
	max-width: 286px;
	margin-left: 40px;

	.ck-profile-section {
		margin-bottom: 30px;
		padding-bottom: 30px;

		p {
			margin-top: 0px;
		}
	}

	.header-ck-profile-section {
		margin-bottom: 10px;
		text-align: center;
	}

	p, ul, blockquote, cite {
		font-size: 13px;
		line-height: 21px;
		color: #777;
	}

	a {
		font-size: 13px;
	}
}

.ck-profile-secondary-content .ck-profile-donate-form-container {
	margin: 40px 0;
	padding-bottom: 40px;
}

.ck-profile-donate-form {
	padding: 20px;
	background-color: #f8f6f1;
	border: 1px solid #E2DACC;
	@include box-shadow(inset 0 0 0 4px rgba(#EFEBE3, .4));
	@include border-radius(5px);

	.header-ck-profile-section {
		margin: 0px 0 3px;
		text-shadow: 0 1px 0 #fff;
	}

	.link-form-more-info {
		display: block;
		max-width: 115px;
		margin: 0 auto 25px;
		font-size: 12px;
	}
	
	input[type="text"]::-webkit-input-placeholder {
	    color: #A29682;
	}

	input[type="text"]:-moz-placeholder {
	    /* FF 4-18 */
	    color: #A29682;
	}

	input[type="text"]::-moz-placeholder {
	    /* FF 19+ */
	    color: #A29682;
	}

	input[type="text"]:-ms-input-placeholder {
	    /* IE 10+ */
	    color: #A29682;
	}
}

.ck-profile-donate-svg {
	fill: $primary-green;
}

input.ck-profile-donate-input {
	width: 100%;
	margin-bottom: 10px;
	padding-left: 38px;
	border-color: #C8BEAC;
	color: darken(#A29682, 15%);

	&:focus {
		border-color: #1CA350;
		outline: none;
		@include box-shadow(inset 0 2px 0 rgba(0,0,0, .08), 0 0 6px rgba(#3F9543, .6));
	}
}

.input-wrap.half-width {
	width: 47.9508197%;
	float: left;

	&:not(.last-half-width) {
		margin-right: 04.0983607%;
	}
}

.ck-profile-donate-form .btn-submit {
	margin-top: 20px;
	width: 100%;
}

.link-aside-center {
	position: relative;
	top: 15px;
	left: 33px;
	margin-right: 12px;
	font-size: 13px;
}

.ck-profile-funding-progress p {
	text-align: center;
}

.funding-meter-base {
	height: 30px;
	width: 100%;
	border: 1px solid #929292;
	background-color: #D6D6D6;
	@include border-radius(5px);
}

.funding-meter-fill {
	width: 60%;
	height: 30px;
	position: relative;
	right: 1px;
	bottom: 1px;
	background-color: $primary-green;
	border: 1px solid #12592D;
	@include border-radius(5px 0 0 5px);
}

.funding-meter-stats {
	margin-bottom: 0px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	list-style-type: none;
	color: #666;

	li {
		display: inline-block;
		margin: 1px 14px 0 0;
	}	
}

.funding-meter-stat-amount {
	color: $primary-green;
	font-weight: bold;
}

.link-ecfa-badge {
	float: right;
	width: 50px;
	height: 50px;
}

.fa-graph {
	position: relative;
}

.fa-graph-label {
	display: block;
	width: 50px;
	position: absolute;
	top: 37px;
	left: 18px;
	font-size: 7px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #999;
}

.fa-foot-note {
	display: block;
	width: 86px;
	position: absolute;
	bottom: -37px;
	left: 0px;
	font-size: 9px;
	text-align: center;
	color: #999;
}

.fa-color-label-container {
	width: 210px;
	margin: -94px 0 0 86px;
	list-style-type: none;
}

.fa-graph-color-description {
	margin-bottom: 8px;
	position: relative;

	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 4px;
		left: -25px;
		width: 18px;
		height: 18px;
	}
	
	&:first-child:before {
		background-color: #8CC63F;
	}

	&:nth-child(2):before {
		background-color: #D6DE23;
	}

	&:nth-child(3):before {
		background-color: $primary-green;
	}
}

.fa-color-label strong {
	color: #362F2D;
}

.fa-color-label-description {
	display: block;
	font-size: 10px;
	line-height: 13px;
}

.testimonial-avatar {
	width: 55px;
	height: 55px;
	margin: 0 10px 5px 0;
	float: left;
	@include border-radius(3px);
}

.ck-profile-testimonial {
	border-bottom: none;

	blockquote.testimonial-body {
		margin: 0;
		font-style: italic;
	}

	cite {
		margin-top: 10px;
		float: right;

		&:before {
			content: "- ";
		}
	}
}