@import "compass";
@import "_normalize.scss";
@import "_typography.scss";

$primary-green: #198C45;
$lime-green: #92d400;
$secondary-brown: #A79D83;
$primary-content-text-color: darken(#706A68, 4%);
$secondary-content-text-color: #847D7B;

* {
	@include box-sizing(border-box);
}

body {
	margin: 0;
	font-size: 16px;
	font-family: 'Frutiger', sans-serif;
	background-color: #ede7dc;
	@include filter-gradient(#ede7dc, #ffffff, vertical);
	@include background-image(linear-gradient(top,  #ede7dc 0%,#ffffff 500px));

	&.no-ck-bar {
		background-color: saturate(#e3dcd1, 10%);
		@include filter-gradient(saturate(#e3dcd1, 10%), #ffffff, vertical);
		@include background-image(linear-gradient(top,  saturate(#e3dcd1, 10%) 0%,#ffffff 1500px));

		@media screen and (max-width: 650px) {
			background-color: #fff;
			background-image: none;
		}
	}
}

main {
	max-width: 1080px;
	margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
	color: #362F2D;
}

h3 {
	font-size: 28px;
	margin: 40px 0 15px;
}

h4 {
	font-size: 24px;
}

p {
	line-height: 27px;
	color: $primary-content-text-color;

	@media screen and (max-width: 480px) {
		line-height: 25px;
	}

}

a {
	padding: 0 0 1px 0;
	color: $primary-green;
	text-decoration: none;
	border-bottom: 1px dotted $primary-green;
}

input[type="text"],
input[type="email"] {
	height: 45px;
	padding: 3px 13px 0;
	border: 1px solid #CEC9C0;
	color: $primary-content-text-color;
	@include border-radius(3px);
	@include box-shadow(inset 0 2px 0 rgba(#F0F0F0, .5));
}

textarea {
	@extend input[type="text"];
	width: 100%;
	height: 116px;
	margin-bottom: 15px;
	padding: 16px 20px;
	border-color: rgba(0,0,0, .2);
	line-height: 27px;
}

.input-wrap {
	position: relative;

	&.half-width {
		display: inline-block;
		float: left;
		@include pie-clearfix();
	}
}

.text-input-icon {
	position: absolute;
	top: 16px;
	left: 13px;
	pointer-events: none;
}

.icon-mail {
	top: 18px;
}

.icon-cc {
	top: 18px;
}

.icon-calendar {
	top: 15px;
}

.icon-money {
	top: 15px;
	left: 16px;
	font-family: helvetica, sans-serif;
	font-weight: bold;
	color: $primary-green;
}

.alert {
	display: block;
	margin: 0 0 35px 0;
	padding: 13px 17px 15px;
	border: 1px solid #eaeaea;
	color: #adadad;
	@include border-radius(5px);
}

.alert-content {
	display: block;
	text-align: center;
	margin: 0px;
	color: #adadad;
}

.alert-error {
	border-color: desaturate(darken(#f19696, 8%), 20%);
	background-color: #fef9f9;

	.alert-content {
		color: #b43b3b;

		.alert-description {
			border-bottom: 1px dotted #ba0f0f;
			text-decoration: none;
			color: #ba0f0f;
		}
	}
}

.alert-success {
	border-color: #44b251;
	background-color: #f9fefa;

	.alert-content {
		color: darken(#2b9544, 1%);

		.alert-description {
			border-bottom: 1px dotted #44b251;
			text-decoration: none;
			color: darken(#2b9544, 1%);
		}
	}
}

.alert-info {
	border-color: #2e8ed1;
	background-color: #F5F9FF;

	.alert-content {
		color: #1871b0;
		position: relative;

		.alert-description {
			padding-bottom: 2px;
			border-bottom: 1px dotted #1871b0;
			text-decoration: none;
			color: #1871b0;
		}

		.info-icon {
			position: relative;
			top: 6px;
			left: -5px;
		}
	}
}

.alert-warning {
	border-color: #d08d35;
	background-color: #fefbf5;

	.alert-content {
		color: #ad6920;

		.alert-description {
			border-bottom: 1px dotted #ad6920;
			text-decoration: none;
			color: #ad6920;
		}
	}
}

/*-------------------------*/
/*----- Header Styles -----*/
/*-------------------------*/

.primary-header {
	height: 130px;
	border-bottom: 1px solid #c4b4a1;
	background-color: #fff;
	@include box-shadow(0 2px 0 rgba(#000, .06));

	@media screen and (max-width: 1150px) {
		height: 110px;	
	}

	@media screen and (max-width: 760px) {
		height: 60px;	
	}

	@media screen and (max-width: 650px) {
		border: none;
		@include box-shadow(none);
	}


	@media screen and (max-width: 760px) {
		&.mobile-nav-active {
			height: inherit;

			.primary-nav-container {
				height: inherit;
				width: 100%;
				overflow: inherit;
				text-align: center;
				background-color: #fff;

				.primary-nav {
					width: 100%;
					padding: 0px;
				}

				.primary-nav-item {
					display: block;
					margin: 40px 0;
					font-size: 24px;
					font-weight: bold;

					&:first-child {
						margin-top: 25px;
					}
				}

				a.primary-nav-item-link {
					padding-bottom: 17px;
				}

				a.primary-nav-item-link:after {
					display: block;
					width: 100%;
					margin-top: 6px;
					font-weight: normal;
					text-align: center;
				}

				a.btn-primary {
					padding-bottom: 15px;
				}
			}
		}
	}
}

.primary-header-contents {
	max-width: 1080px;
	margin: 0 auto;

	@media screen and (max-width: 1150px) {
		width: 90%;
	}

	@media screen and (max-width: 650px) {
		width: 100%;
		padding: 0 28px;
	}
}

a.primary-header-logo {
	display: block;
	width: 237px;
	height: 69px;
	position: relative;
	top: 28px;
	border-bottom: none;
	background-image: url(../img/cure-logo.svg);
	background-repeat: no-repeat;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;

	@media screen and (max-width: 1150px) {
		width: 175px;
		height: 51px;
	}

	@media screen and (max-width: 760px) {
		width: 120px;
		top: 12px;
	}
}

.menu-toggle {
	display: none;
	width: 50px;
	float: right;
	padding: 8px 12px 12px 12px;
	position: relative;
	bottom: 16px;
	border: none;
	outline: none;
	background-color: rgba(0,0,0, 0);
	@include border-radius(3px);

	.icon-bar {
		display: block;
		height: 3px;
		width: 100%;
		margin-top: 5px;
		background-color: $primary-green;

	}

	@media screen and (max-width: 760px) {
		display: block;
	}

	@media screen and (max-width: 760px) {
		margin-top: -26px;
		left: 12px;
	}
}

.primary-nav-container {
	@include pie-clearfix();

	@media screen and (max-width: 760px) {
		height: 0px;
		overflow: hidden;
	}
}

.primary-nav {
	position: relative;
	bottom: 34px;
	float: right;
	@include pie-clearfix();

	@media screen and (max-width: 1150px) {
		bottom: 27px;	
	}

	@media screen and (max-width: 950px) {
		bottom: 21px;
	}
}

.primary-nav-item {
	display: inline;
	margin-right: 35px;
	position: relative;
	list-style-type: none;

	a {
		text-decoration: none;
		color: darken(#736357, 6%);
		border-bottom: none;
	}

	&:last-child {
		margin-right: 0px;
	}

	@media screen and (max-width: 950px) {
		font-size: 14px;
		margin-right: 18px;
	}
}

a.primary-nav-item-link:after {
	display: block;
	padding-top: 13px;
	position: absolute;
	left: 0;
	top: 10px;
	font-size: 12px;
	color: #C4B5AB;

	@media screen and (max-width: 950px) {
		display: none;
	}
}

.curekids-primary-nav-item:after {
	content: "Meet a child";
}

.about-primary-nav-item:after {
	content: "Who we are";
}

.programs-primary-nav-item:after {
	width: 82px;
	content: "Where we are";
}

.stories-primary-nav-item:after {
	content: "Our blog";
}

.join-primary-nav-item:after {
	width: 76px;
	content: "Get involved";
}

.subnav {
	display: none;
}

main {
	@media screen and (max-width: 650px) {
		width: 100%;
	}
}

.btn-primary {
	padding: 12px 18px 10px;
	border: 1px solid #136231;
	color: #fff;
	text-shadow: 0 1px rgba(0,0,0, .4);
	background-color: $primary-green;
	@include border-radius(3px);
	@include box-shadow(0 2px 0 rgba(0,0,0, .13));

	&:hover {
		cursor: pointer;
		border: 1px solid darken(#136231, 2%);
		background-color: darken($primary-green, 2%);
		@include box-shadow(0 1px 1px rgba(0,0,0, .23));
	}

	&:active {
		border: 1px solid darken(#136231, 5%);
		background-color: darken($primary-green, 4%);
		@include box-shadow(0 1px 0 rgba(0,0,0, .13));
	}
}

a.btn-primary {
	color: #fff;
	text-decoration: none;
	border: 1px solid #136231;
}

.primary-header a.btn-primary {
	margin-left: 40px;
	position: relative;
	top: 7px;
	font-size: 15px;

	@media screen and (max-width: 950px) {
		margin-left: 0px;
		padding: 12px 15px 10px;
		top: 0;
		font-size: 14px;
	}

	@media screen and (max-width: 760px) {
		position: relative;
		top: 10px;
		padding: 15px 20px 12px;
		font-size: 20px;
	}
}

.btn-primary-mobile {
	display: none; 
	margin: 25px 0 10px;
	padding: 15px 15px 13px;
	font-size: 18px;
	text-align: center;

	@media screen and (max-width: 850px) {
		display: block;
	}
}

.btn-secondary {
	@extend .btn-primary;
	padding: 9px 20px 7px;
	border-color: #8C7D71;
	font-size: 14px;
	background-color: $secondary-brown;

	&:hover {
		border-color: darken(#8C7D71, 2%);
		background-color: darken($secondary-brown, 4%);
	}

	&:active {
		border-color: darken(#8C7D71, 5%);
		background-color: darken($secondary-brown, 6%);
	}

	@media screen and (max-width: 650px) {
    	padding: 12px 23px 10px;
    	font-size: 16px;
	}
}

a.btn-secondary {
	border-color: #8C7D71;
	text-decoration: none;
	color: #fff;
}

.btn-submit:active,
.btn-submit:focus {
	outline: none;
}

.btn-view-more {
	display: block;
	margin: 35px auto 25px;
	text-align: center;
}

/*-------------------------*/
/*------- CK Profile ------*/
/*-------------------------*/

.ck-profile-container {
	margin: 50px 0 100px 0;
	position: relative;
	border-width: 1px;
    border-style: solid;
    -webkit-border-image: -webkit-gradient(linear, 0 60%, 0 0, from(rgba(0,0,0,.0)), to(darken(#CEC8B9, 10%))) 1 90%;
	background-color: #fff;
	@include box-shadow(0 -1px 0 #CEC8B9);
	@include border-radius(3px);

	&:before {
	   content: "";
	   height: 40px;
	   position: absolute;
	   z-index: -1;
	   top: -7px;
	   left: -6px;
	   right: -6px;
	   background-color: #e1dcd1;
	   @include box-shadow(0 0 0 1px #D5CEBC);
	   @include border-radius(5px);
	}

	&:after {
		content: "";
		display: block;
		position: absolute;
		z-index: -1;
		top: 3px;
		left: -7px;
		right: -7px;
		bottom: -6px;
		border-width: 1px 1px 0 1px;
		border-style: solid;
		-webkit-border-image: -webkit-gradient(linear, 0 40%, 0 0, from(rgba(#e1dcd1, .0)), to(lighten(#D5CEBC, 3%))) 1 100%;
		@include filter-gradient(#e1dcd1, rgba(0,0,0, 0), vertical);
		@include background-image(linear-gradient(top,  lighten(#e1dcd1, 1%) 10%, rgba(#e1dcd1, .0) 900px));		
		@include border-radius(5px);
	}

	@media screen and (max-width: 1150px) {
		width: 90%;
		margin: 50px auto 100px;
	}

	@media screen and (max-width: 650px) {
		width: 100%;
		margin-top: 0px;
		border: none;
		@include box-shadow(none);
		background-color: transparent;

		&:before,
		&:after {
			display: none;
			border: none;
			@include box-shadow(none);
			background-color: transparent;
			background-image: none;
		}
	}
}

.ck-profile-header {
	margin-top: -1px;
	position: relative;

	@media screen and (max-width: 767px) {
		margin-bottom: 60px;
	}

}

.ck-profile-name {
	display: inline;
	float: left;
	margin: 25px 0 0 40px;
	font-size: 38px;

	@media screen and (max-width: 1150px) {
		margin: 15px 0 0 25px;
		font-size: 32px;
	}

	@media screen and (max-width: 767px) {
		float: none;
		margin: 10px 0 0 0;
		padding-left: 28px;
		clear: both;
		font-size: 36px;
		text-align: left;
	}
}

.ck-profile-country {
	clear: left;
	float: left;
	display: block;
	margin: -1px 0 0 42px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #999;

	@media screen and (max-width: 1150px) {
		margin: -1px 0 0 25px;
	}

	@media screen and (max-width: 767px) {
		float: none;
		margin-left: 0px;
		padding-left: 28px;
		text-align: left;
	}
}

.btn-ck-follow {
	padding: 9px 18px 7px 15px;
	position: absolute;
	left: -123px;
	top: 31px;

	&:after {
		content: " ";
		display: inline-block;
		width: 19px;
		height: 13px;
		position: relative;
		left: 6px;
		top: 1px;
		background-image: url(../img/follow-icon.svg);
	}

	@media screen and (max-width: 1150px) {
		top: 22px;
	}

	@media screen and (max-width: 850px) {
		font-size: 16px;
	}
}

.btn-ck-follow-mobile {
	display: none;

	@media screen and (max-width: 767px) {
		display: block;
		right: 28px;
		top: 11px;
		left: inherit;
	}

	@media screen and (max-width: 480px) {
		padding: 12px 20px 10px;
		font-size: 16px;

		&:after {
			display: none;
		}
	}
}

.ck-profile-header-col-1 {
	float: left;
	@include pie-clearfix();

	@media screen and (max-width: 767px) {
		width: 100%;
		float: none;
		margin: 15px 0 20px;

		&:after {
			display: none;
		}
	}

	@media screen and (max-width: 370px) {
		&.large-name {
			padding: 0 28px;

			.ck-profile-name,
			.ck-profile-country {
				display: block;
				padding: 0;
				float: none;
				text-align: center;
			}

			.btn-ck-follow-mobile {
				width: 100%;
				position: static;
				margin: 15px 0;
				padding: 12px 23px 10px;
				font-size: 16px;
				text-align: center;
			}
		}
	}

}

.ck-profile-header-col-2 {
	height: 100px;
	margin: 0;
	position: relative;
	float: right;

	@media screen and (max-width: 1150px) {
		height: 80px;
	}

	@media screen and (max-width: 767px) {
		width: 100%;
		height: inherit;
		position: absolute;
		bottom: -65px;

		.btn-ck-follow {
			display: none;
		}
	}
}

.ck-profile-info {
	margin: 0;
	padding-left: 0;
	@include pie-clearfix();

	@media screen and (max-width: 767px) {
		border-bottom: 1px solid rgba(0,0,0, .1);
	}
}

.ck-profile-info-item {
	display: block;
	float: left;
	height: 100px;
	padding: 0 25px;
	border-left: 1px solid rgba(0,0,0, .1);
	font-size: 20px;
	list-style-type: none;
	color: #362F2D;

	@media screen and (max-width: 1150px) {
		font-size: 16px;
		height: 80px;
	}

	@media screen and (max-width: 920px) {
		&:last-child {
			display: none;
		}
	}

	@media screen and (max-width: 767px) {
		width: 33.3333333333333333%;
		height: 73px;
		position: relative;
		text-align: center;

		&:first-child {
			border-left: none;
		}

		&:last-child {
			display: block;
		}
	}

	@media screen and (max-width: 650px) {
		width: 40%;
		height: 70px;
	}

	@media screen and (max-width: 480px) {
		width: 65%;

		&:last-child {
			display: none;
		}
	}
}

.ck-profile-info-item-age {
	&:after {
		content: " Years Old";

		@media screen and (max-width: 650px) {
			display: none;
		}
	}

	@media screen and (max-width: 650px) {
		width: 20%;
	}

	@media screen and (max-width: 480px) {
		width: 35%;
	}
}

.ck-profile-info-item-label { 
	display: block;
	margin: 32px 0 4px 0;
	color: #999;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;

	@media screen and (max-width: 1150px) {
		margin-top: 25px;
		font-size: 10px;
	}

	@media screen and (max-width: 650px) {
		margin: 24px 0 1px;
	}
}

.ck-profile-photos-container {
	max-height: 548px;
	position: relative;
	overflow: hidden;
	clear: both;
	@include pie-clearfix();
}

.ck-profile-primary-photo {
	width: 81.3543599%;
	float: left;
	cursor: pointer;

	@media screen and (max-width: 600px) {
		width: 100%;
	}
}

.ck-profile-secondary-photo-container {
	width: 18.6456401%;
	max-height: 274px;
	position: relative;
	float: left;

	@media screen and (max-width: 600px) {
		display: none;
	}
}

.ck-profile-secondary-photo {
	width: 100%;
	cursor: pointer;
	
	@media screen and (max-width: 1150px) {
		margin-bottom: -4px;
	}
}

.ck-profile-secondary-photo-caption {
	padding: 10px 10px 6px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 0 1px 1px rgba(0,0,0, .75);
	background-color: rgba(0,0,0, .32);
}

.ck-profile-photo-thumbs-container {
	display: none;
	width: 81.3888889%;
	height: 200px;
	position: absolute;
	left: 0;
	bottom: 0px;
	@include filter-gradient(#000000, #000000, vertical);
	@include background-image(linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,.5) 80%));
	
	&.active {
		display: block;
	}
}

.ck-profile-photo-thumbs {
	position: absolute;
	bottom: 10px;
	right: 10px;

	a {
		border-bottom: none;
	}
}

.ck-profile-photo-thumb {
	width: 75px;
	height: 75px;
	margin-right: 6px;
	@include border-radius(3px);
}

div[data-liffect="bounceInUp"] .ck-profile-photo-thumb {
    opacity: 0;
    position: relative;
    -webkit-animation: bounceInUp 500ms ease both;
    -webkit-animation-play-state: paused;
    -moz-animation: bounceInUp 500ms ease both;
    -moz-animation-play-state: paused;
    -o-animation: bounceInUp 500ms ease both;
    -o-animation-play-state: paused;
    animation: bounceInUp 500ms ease both;
    animation-play-state: paused;
}

div[data-liffect="bounceInUp"].play .ck-profile-photo-thumb {
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running;
}

@-webkit-keyframes bounceInUp {
    0% { opacity: 0; -webkit-transform: translateY(20px); }
    60% { -webkit-transform: translateY(0px); }
    80% { -webkit-transform: translateY(0px); }
    100% { opacity: 1; -webkit-transform: translateY(0); }
}

@-moz-keyframes bounceInUp {
    0% { opacity: 0; -moz-transform: translateY(20px); }
    60% { -moz-transform: translateY(0px); }
    80% { -moz-transform: translateY(0px); }
    100% { opacity: 1; -moz-transform: translateY(0); }
}

@-o-keyframes bounceInUp {
    0% { opacity: 0; -o-transform: translateY(20px); }
    60% { -o-transform: translateY(0px); }
    80% { -o-transform: translateY(0px); }
    100% { opacity: 1; -o-transform: translateY(0); }
}

@keyframes bounceInUp {
    0% { opacity: 0; transform: translateY(20px); }
    60% { transform: translateY(0px); }
    80% { transform: translateY(0px); }
    100% { opacity: 1; transform: translateY(0); }
}

/*-- Primary profile content --*/

.ck-profile-primary-content {
	max-width: 700px;
	float: left;
	padding-left: 40px;

	@media screen and (max-width: 1150px) {
		width: 60%;	
	}

	@media screen and (max-width: 850px) {
		width: 100%;
		padding: 0 28px;
		max-width: inherit;	
	}
}

.ck-profile-section {
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(0,0,0, .15);
}

.ck-profile-section-description {
	text-align: center;
}

.ck-profile-update-date {
	font-size: 13px;
	color: #888;
}

.ck-profile-update-copy {
	margin: 8px 0 0 0;

	&:after {
		content: "";
		display: block;
		width: 75px;
		height: 1px; 
		margin: 17px 0 25px;
		background-color: rgba(0,0,0, .14);
	}
}

.ck-profile-update-container {
	@media screen and (max-width: 850px) {
		display: none;

		&:nth-of-type(1), &:nth-of-type(2) {
			display: block;
		}
	}
}

a.ck-profile-get-well-inline-media {
	width: 75px;
	height: 75px;
	overflow: hidden;
	display: block;
	position: relative;
	float: right;
	margin: 30px 0 0 10px;
	border: none;
	@include border-radius(5px);

	.zoom-icon {
		display: none;
		position: absolute;
		top: 23px;
		left: 23px;		
	}

	&:before {
		content: "";
		display: block;
		height: 100%;
		width: 100%;
		opacity: 0;
		position: absolute;
		top: 0;
		right: 0;
		background-color: rgba(0,0,0, .75);
		background-size: 25px 25px;
		background-position: center center;
		background-repeat: no-repeat;
		@include border-radius(5px);
		@include transition(.075s all ease-in-out);
	}

	&.ck-profile-get-well-inline-photo:before {
		background-image: url(/img/zoom-icon.svg);
	}

	&.ck-profile-get-well-inline-video:before {
		background-image: url(/img/play-icon.svg);
		background-size: 23px 23px;
	}

	&:hover {
		&:before {
			opacity: 1;
		}
	}
}

.ck-profile-get-well {
	border-bottom: none;
}

.get-well-media-poster {
	height: 75px;
}

.btn-more-updates {
	width: 175px;

	@media screen and (max-width: 650px) {
    	width: 200px;
	}
}

.get-well-options {
	margin-bottom: -16px;

	&.active {
		display: block;
		position: relative;
		bottom: 3px;
	}

	@media screen and (max-width: 1150px) {
		margin-bottom: -44px;
	}

	@media screen and (max-width: 850px) {
		margin-bottom: -23px;
	}

	@media screen and (max-width: 760px) {
		margin-bottom: -44px;
	}

	@media screen and (max-width: 480px) {
    	display: none;
	}

	@media screen and (max-width: 440px) {
		&.active {
			display: block;
			margin-bottom: -76px;
		}

    	.btn-ck-profile-get-well-add-video,
    	.btn-ck-profile-get-well-add-photo {
    		display: block;
    	}

    	.btn-ck-profile-get-well-add-video {
    		margin-top: 10px;
    	}
	}
}

.get-well-options-toggle {
	display: none;
	border: none;
	outline: none;
	float: left;
	position: relative;
	top: 3px;
	padding: 0px;
	font-size: 14px;
	color: #947D7B;
	background-color: transparent;
	cursor: pointer;

	&:before {
		content: "";
		display: inline-block;
		width: 19px;
		height: 14px;
		margin-right: 9px;
		position: relative;
		top: 2px;
		background-image: url(../img/options-icon.svg);
		background-repeat: no-repeat;
		background-position: center;
	}
	
	@media screen and (max-width: 480px) {
    	display: block;
	}
}

.btn-ck-profile-get-well-add-photo {
	margin-right: 28px;
	position: relative;
	font-size: 14px;
	color: #947D7B;
	border-bottom: none;

	&:before {
		content: "";
		display: inline-block;
		width: 19px;
		height: 14px;
		margin-right: 9px;
		position: relative;
		top: 1px;
		background-image: url(../img/camera-icon.svg);
		background-repeat: no-repeat;
		background-position: center;
	}
}

.btn-ck-profile-get-well-add-video {
	@extend .btn-ck-profile-get-well-add-photo;

	&:before {
		background-image: url(../img/video-camera-icon.svg);
	}
}

.get-well-form-checkbox-container {
	display: inline-block;
	font-size: 14px;
	color: #947D7B;

	@media screen and (max-width: 1150px) {
		display: block;
		clear: left;
		margin-top: 11px;
	}

	@media screen and (max-width: 850px) {
		display: inline-block;
		clear: inherit;
	}

	@media screen and (max-width: 760px) {
    	display: block;
		clear: left;
		margin-top: 11px;
	}
}

.get-well-form-checkbox {
	position: relative;
	bottom: 1px;
}

.get-well-form-checkbox {
	font-size: 16px;
	margin-right: 3px;
}

.get-well-btn-submit {
	float: right;
	position: relative;
	bottom: 4px;
}

/*-- Secondary Profile Content --*/

.ck-profile-secondary-content {
	float: left;
	max-width: 286px;
	margin-left: 50px;

	.ck-profile-section {
		margin-bottom: 30px;
		padding-bottom: 30px;

		p {
			margin-top: 0px;
		}
	}

	.header-ck-profile-section {
		margin-bottom: 10px;
		text-align: center;
	}

	p, ul, blockquote, cite {
		font-size: 13px;
		line-height: 21px;
		color: $secondary-content-text-color;
	}

	a {
		font-size: 13px;
	}

	.alert {
		margin: 20px 0 0 0;
	}

	@media screen and (max-width: 1150px) {
		width: 30%;	
	}

	@media screen and (max-width: 850px) {
		display: none;
		
		// If this element is not going to be hidden at this point, then these styles may be helpful to apply
		//
		// width: 100%;
		// margin: 0px;
		// padding: 0 28px;
		// max-width: inherit;	
	}

}

.ck-profile-secondary-content .ck-profile-donate-form-container {
	margin: 40px 0;
	padding-bottom: 40px;
}

.ck-profile-donate-form {
	padding: 20px;
	background-color: #f8f6f1;
	border: 1px solid #E2DACC;
	@include box-shadow(inset 0 0 0 4px rgba(#EFEBE3, .4));
	@include border-radius(5px);

	.header-ck-profile-section {
		margin: 0px 0 3px;
		text-shadow: 0 1px 0 #fff;
	}

	.link-form-more-info {
		display: block;
		max-width: 118px;
		margin: 0 auto 25px;
		font-size: 12px;
		text-align: center;
	}
	
	input[type="text"]::-webkit-input-placeholder,
	input[type="text"]::-webkit-input-placeholder {
	    color: #A29682;
	}

	input[type="text"]:-moz-placeholder,
	input[type="text"]:-moz-placeholder {
	    /* FF 4-18 */
	    color: #A29682;
	}

	input[type="text"]::-moz-placeholder,
	input[type="text"]::-moz-placeholder {
	    /* FF 19+ */
	    color: #A29682;
	}

	input[type="text"]:-ms-input-placeholder,
	input[type="text"]:-ms-input-placeholder {
	    /* IE 10+ */
	    color: #A29682;
	}
}

.ck-profile-donate-svg {
	fill: $primary-green;
}

input.ck-profile-donate-input {
	width: 100%;
	margin-bottom: 10px;
	padding-left: 38px;
	border-color: #C8BEAC;
	color: darken(#A29682, 15%);

	&:focus {
		border-color: #1CA350;
		outline: none;
		@include box-shadow(inset 0 2px 0 rgba(0,0,0, .08), 0 0 6px rgba(#3F9543, .6));
	}
}

.input-wrap.half-width {
	width: 47.9508197%;
	float: left;

	&:not(.last-half-width) {
		margin-right: 04.0983607%;
	}
}

.ck-profile-donate-form .btn-submit {
	margin-top: 20px;
	width: 100%;
	font-weight: bold;
}

.link-aside-center {
	position: relative;
	top: 15px;
	left: 33px;
	margin-right: 12px;
	font-size: 13px;
}

.funding-meter-base {
	height: 30px;
	width: 100%;
	border: 1px solid #929292;
	background-color: #D6D6D6;
	@include border-radius(5px);
}

.funding-meter-fill {
	width: 60%;
	height: 30px;
	position: relative;
	right: 1px;
	bottom: 1px;
	background-color: $primary-green;
	border: 1px solid #12592D;
	@include border-radius(5px 0 0 5px);
}

.funding-meter-stats {
	margin-bottom: 0px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	list-style-type: none;
	color: #666;

	li {
		display: inline-block;
		margin: 1px 14px 0 0;
	}	
}

.funding-meter-stat-amount {
	color: $primary-green;
	font-weight: bold;
}

.link-ecfa-badge {
	float: right;
	width: 50px;
	height: 50px;
}

.fa-graph {
	position: relative;
}

.fa-graph-label {
	display: block;
	width: 50px;
	position: absolute;
	top: 37px;
	left: 18px;
	font-size: 7px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #999;
}

.fa-foot-note {
	display: block;
	width: 86px;
	position: absolute;
	bottom: -37px;
	left: 0px;
	font-size: 9px;
	text-align: center;
	color: #999;
}

.fa-color-label-container {
	width: 210px;
	margin: -94px 0 0 86px;
	list-style-type: none;
}

.fa-graph-color-description {
	margin-bottom: 8px;
	position: relative;

	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 4px;
		left: -25px;
		width: 18px;
		height: 18px;
	}
	
	&:first-child:before {
		background-color: #8CC63F;
	}

	&:nth-child(2):before {
		background-color: #D6DE23;
	}

	&:nth-child(3):before {
		background-color: $primary-green;
	}
}

.fa-color-label strong {
	color: #362F2D;
}

.fa-color-label-description {
	display: block;
	font-size: 10px;
	line-height: 13px;
}

.testimonial-avatar {
	width: 55px;
	height: 55px;
	margin: 0 10px 5px 0;
	float: left;
	@include border-radius(3px);
}

.ck-profile-testimonial {
	@include pie-clearfix();

	blockquote.testimonial-body {
		margin: 0;
		font-style: italic;
	}

	cite {
		margin-top: 10px;
		float: right;

		&:before {
			content: "- ";
		}
	}
}

.ck-profile-procedures {
	border-bottom: none;
}

.procedure-record {
	height: 50px;
	margin-top: 19px;
	position: relative;
	overflow: hidden;
	@include pie-clearfix();
}

.procedure-photo-thumb {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0px;
	z-index: 1;
	@include border-radius(3px);
}

.procedure-photo-thumb-before {
	left: 0;
	@include box-shadow(15px 0 0 #fff);
}

.procedure-photo-thumb-after {
	right: 0;
	@include box-shadow(-15px 0 0 #fff);
}

.procedure-date {
	display: block;
	text-align: center;
	position: relative;
	top: 17px;
	font-size: 13px;
	color: $secondary-content-text-color;

	&:before {
		content:"";
		display: block;
		width: 40%;
		position: absolute;
		top: 7px;
		left: -15px;
		border-bottom: 1px dotted lighten($secondary-content-text-color, 10%);
	}

	&:after {
		content:"";
		display: block;
		width: 40%;
		position: absolute;
		top: 7px;
		right: -15px;
		border-bottom: 1px dotted lighten($secondary-content-text-color, 10%);
	}
}

/*-------------------------*/
/*-- Other Kids Section ---*/
/*-------------------------*/

.header-other-kids {
	display: block;
	width: 335px;
	margin: 40px auto 35px;
	padding-right: 10px;
	position: relative;
	text-shadow: 0 0 20px #fff;

	&:before {
	    content: "";
	    display: block;
	    width: 100%;
	    height: 1px;
	    position: absolute;
	    left: 100%;
	    margin: 15px 0 0 0;
	    background-color: rgba(0,0,0, .1);
	}

	&:after {
	    content: "";
	    display: block;
	    width: 100%;
	    height: 1px;
	    position: absolute;
	    right: 100%;
	    margin: -20px 20px 0 0;
	    background-color: rgba(0,0,0, .1);
	}

	@media screen and (max-width: 600px) {
		display: none;
	}
}

.other-kids-container {
	overflow: hidden;
	@include pie-clearfix();

	@media screen and (max-width: 1150px) {
    	width: 90%;
    	margin: 0 auto;
	}

	@media screen and (max-width: 850px) {
		width: 100%;
		padding: 0 28px;
	}

	@media screen and (max-width: 600px) {
		display: none;
	}
}

.other-kid-container {
	width: 24.09722225%;
	height: 180px;
	margin-right: 1.2037037%;
	float: left;
	position: relative;
	overflow: hidden;
	border-bottom: none;
	@include border-radius(5px);

	&:last-child {
		margin-right: 0;
	}

	&:before {
		content: "";
		display: block;
		width: 100%;
		height: 60%;
		position: absolute;
		bottom: 0;
		@include filter-gradient(#000000, #000000, vertical);
		@include background-image(linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,.9) 80%));
	}

	@media screen and (max-width: 1150px) {
		width: 32.4210526%;
		margin-right: 1.3684211%;

		&:nth-of-type(3) {
			margin-right: 0;
		}

    	&:last-child {
    		display: none;
    	}
	}

	@media screen and (max-width: 800px) {
		width: 49.1875%;
		margin-right: 1.625%;

		&:nth-of-type(2) {
			margin-right: 0;
		}

    	&:last-child,
    	&:nth-of-type(2) {
    		display: none;
    	}
	}
}

.other-kid-name {
	margin: 0px;
	position: absolute;
	bottom: 12px;
	left: 15px;
	font-size: 20px;
	color: #fff;
	text-shadow: 0 1px 2px #000;
}

.other-kid-info {
	position: absolute;
	bottom: 10px;
	right: 15px;
	font-size: 8px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #fff;
	text-shadow: 0 1px 1px #000;

	li {
		display: inline;
	}
}

.other-kid-country:after {
	content: " | ";
	display: inline-block;
	margin: 0 3px 0 6px;
}

.other-kid-image {
	width: 100%;
	@include border-radius(5px);
}

/*-------------------------*/
/*----- Footer Styles -----*/
/*-------------------------*/

.footer-container {
	margin-top: 75px;
	padding: 40px 0 0;
	background-color: #887d72;
	border: 1px solid #766d63;
	@include box-shadow(0 -3px 0 #e5e5e5);

	ul {
		padding-left: 0px;
		list-style-type: none;
	}
}

.primary-section-container {
	max-width: 1080px;
	margin: 0 auto;
	@include pie-clearfix();

	a:not(.btn-primary) {
		border-bottom: none;
	}

	.primary-section {
		float: left;
		@include pie-clearfix();

		@media screen and (max-width: 1150px) {
	    	max-width: 720px;
	    	margin: 0 auto;
	    	float: none;
		}

		@media screen and (max-width: 800px) {
	    	display: none;
		}
	}
	 
	.footer-primary-aside {
		float: left;
		@include pie-clearfix();

		.footer-logos {
			display: inline;

			@media screen and (max-width: 440px) {
			    display: block;
			    width: 211px;
			    margin: 0 auto;
			}
		}

		hr {
			margin: 15px 0;
			height: 1px;
			background-color: rgba(255,255,255, .15);
			border: none;
		}

		.contact-info {
			max-width: 265px;
			margin: 0px auto 0;
			@include pie-clearfix();
		}

		.address, .phone-numbers {
			margin-top: 7px;
			margin-bottom: 0px;
			float: left;
			line-height: 20px;
			font-size: 14px;
		    color: #b9b5b0;
			text-decoration: none;
			text-shadow: 0 1px 1px rgba(0,0,0, .2);
		}

		.phone-numbers {
			margin-left: 22px;

			a {
				color: #b9b5b0;
			}
		}

		.btn-primary {
			position: relative;
			bottom: 14px;

			@media screen and (max-width: 440px) {
		    	display: block;
		    	margin-top: 30px;
		    	text-align: center;
			}
		}

		@media screen and (max-width: 1150px) {
	    	max-width: 365px;
	    	margin: 35px auto 0;
	    	float: none;
		}

		@media screen and (max-width: 800px) {
	    	margin-top: 0;
		}
	}

	.logo {
		display: inline-block;
		float: left;
		width: 149px;
		height: 43px;
		margin: 0 13px 0 0;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		background-image: url(../img/footer-logo.svg);
	}

	@media screen and (max-width: 1150px) {
    	width: 90%;
	}

	@media screen and (max-width: 850px) {
		width: 100%;
		padding: 0 28px;
	}
}

.ecfa-badge {
	margin: 0 15px 0 0;

	@media screen and (max-width: 440px) {
	    margin: 0;
	}
}

a.footer-cta {
	padding: 9px 16px 8px;
	position: relative;
	top: -16px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb( 19, 98, 49 );
	border-radius: 3px;
	font-size: 16px;
	font-weight: normal;
	text-decoration: none;
	color: #fff;
	background-color: #198c45;
	box-shadow: 0px 2px 0px 0px #797068;
}


.footer-col-header {
	margin: 0 0 4px 0;
	font-size: 18px;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0, .45);
}

.footer-link-list {
	margin-top: 0px;
	padding-left: 0px;
	list-style-type: none;
	line-height: 20px;
}

.footer-col {
	margin: 0 40px 0 0;
	float: left;

	&:last-child {
		margin-right: 27px;
	}

	.first-col {
		float: left;
		margin-right: 18px;
	}

	.second-col {
		float: left;
	}
}

a.footer-link {
	font-size: 14px;
    color: #b9b5b0;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0,0,0, .2);
	@include transition(all .1s ease-in-out);

	&:hover {
		color: rgba(#fff, .75);
	}
}

.lower-section-container {
	margin: 40px 0 0 0;
	padding: 25px 0;
	border-top: 1px solid #948a80;
	background-color: #70655c;
}

.lower-section {
	max-width: 1080px;
	margin: 0 auto;
	position: relative;

	small {
		display: block;
		max-width: 640px;
		margin: 0 0 13px 0;
		font-size: 12px;
		line-height: 19px;
	    color: rgba(#b9b5b0, .75);

	    @media screen and (max-width: 950px) {
		    display: block;
		    max-width: inherit;
		    margin: 0 0 20px 0;
		    text-align: center;
		    float: none;
		}
	}

	a {
		font-size: 12px;
		text-decoration: none; 
		border-bottom: 1px dotted rgba(#b9b5b0, .75);
		color: rgba(#b9b5b0, .75);
		@include transition(all .1s ease-in-out);
		
		&:hover {
			color: rgba(#fff, .75);
		}
	}

	@media screen and (max-width: 1150px) {
    	width: 90%;
	}

	@media screen and (max-width: 850px) {
		width: 100%;
		padding: 0 28px;
	}
}

.secondary-link-lists {
	@include pie-clearfix();
	margin: 0;

	@media screen and (max-width: 950px) {
		display: block;
    	max-width: 640px;
    	margin: 0px auto 0;
    	text-align: center;

    	ul {
    		text-align: center;
    	}

    	.wordpress-link {
    		white-space: pre;
    		padding-top: 10px;
    	}
	}

	@media screen and (max-width: 760px) {
		ul {
			display: block;
			margin: inherit;
			float: none;
			text-align: center;
		}
	}
}

.secondary-link-list {
	margin-right: 55px;
	font-size: 12px;
	line-height: 19px;
	float: left;
	@include pie-clearfix();

	li {
		float: left;

		&:not(:last-child):after {
			content: "|";
			margin: 0 10px;
			color: rgba(#b9b5b0, .5);
		}

		@media screen and (max-width: 950px) {
			display: inline;
    		float: none;
		}
	}

	@media screen and (max-width: 950px) {
	    padding-top: 10px;
	}
}

.social-media-links {
	position: absolute;
	right: 0px;
	top: 5px;
	@include pie-clearfix();

	@media screen and (max-width: 950px) {
		display: block;
		width: 210px;
		margin: 0 auto 10px;
		clear: both;
		position: static;
	}
}

.social-media-item {
	display: block;
	float: left;
	margin-right: 5px;

	&:last-child {
		margin-right: 0;
	}
}

a.social-media-link {
	display: block;
	width: 38px;
	height: 38px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	border: none;
	background-repeat: no-repeat;

	&:last-child {
		margin: 0;
	}
}

.facebook-link {
	background-image: url(../img/social-media-icons.svg);
	background-size: 188px;
	background-position: -75px;
}

.twitter-link {
	background-image: url(../img/social-media-icons.svg);
	background-size: 188px;
	background-position: -112px;
}

.youtube-link {
	background-image: url(../img/social-media-icons.svg);
	background-size: 188px;
	background-position: -37px;
}

a.app-store-link {
	background-image: url(../img/social-media-icons.svg);
	background-size: 188px;
	background-position: -150px;
}

.amazon-link {
	background-image: url(../img/social-media-icons.svg);
	background-size: 188px;
}